:root{
    --background: #0D0225;
    --border: #30A4AB;
    --textIcons: #A42370;
    --titles: #fff;
    --inputs: #D9D9D9;
}

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body{
    background: var(--background);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* perfil */

.perfil{
    border: solid 4px var(--border);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}
.perfil h1{
    color:var(--titles);
}

.perfil span{
    color: var(--titles);
    letter-spacing: .0625rem;
}

#fecha{
    text-align: right;
    color:var(--titles);
    padding: 5px 0 5px 0;
}

/* Agregar tareas */

#flecha{
    width: 100%;
    padding: .625rem;
    font-size: 4.8rem;
    color: var(--textIcons);
    text-align: center;
}

.agregar-tarea{
    background-color: var(--inputs);
    border-radius: .625rem;
    border: solid 4px var(--border);
    height: 4em;
    display: flex;
    align-items: center;
    padding: .625rem;
    gap: 4.375rem;
    margin: 0 auto;
    width: 70%;
}   

.agregar-tarea input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: var(--inputs);
}

.agregar-tarea i{
    font-size: 35px;
    color: var(--textIcons);
}

.agregar-tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.agregar-tarea input::placeholder{
    font-size: 1.1rem;
    color: var(--textIcons);
    padding-left: 1em;
}

/* Seccion Tarea */

.seccion-tarea{
    margin-top: 1.5em;
    border: solid 4px var(--border);
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    height: auto;
}

.seccion-tarea h3{
    color: var(--titles);
    margin-bottom: 20px;
    text-align: center;
}

.seccion-tarea li{
    display: flex;
    background-color: var(--inputs);
    border-radius: .625rem;
    border: solid 4px var(--border);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    color: var(--textIcons)
}

.seccion-tarea i{
    font-size: 1.5625rem;
}

.seccion-tarea i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.seccion-tarea > ul p{
    font-size: 1.2rem;

}

.line-through{
    text-decoration: line-through;

}